img{
  width: 200px;
  height: 200px;
}

.nav {
  background-color:#d1d7e0;
  height: 40px;
  width: 85%;
  margin: 0px auto;
  border-style: solid;
  border-color: #564f6f;
  border-width: 7px;
  width: 85%;
  color: #564f6f;
  background: #d1d7e0;
  opacity: .8;
  text-align: center;
  font-weight: bold;
}

.nav ul{
  margin: 0 auto;
  text-align: center;
}

 .nav li {
   display: inline-block;
   line-height: 40px;
   padding: 0px 15px;
   margin: 0 auto;
   color: #564f6f;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
 }

 h1{
   text-align: center;
 }

 #show-container{
   display: grid;
   grid-template-areas: "simage scategory"
                        "simage sorigin "
                        "simage syoutube"
                        " singredients smeasurements"
                        " sinstructions sinstructions";
 }

 #show-category{
  grid-area: scategory;
 }

 #show-origin{
  grid-area: sorigin;
 }

 #show-youtube{
  grid-area: syoutube;
 }

 #show-image{
  grid-area: simage;
 }

 #show-instructions{
  grid-area: sinstructions;
 }

 #show-ingredients{
  grid-area: singredients;
 }

 #show-measurements{
  grid-area: smeasurements;
 }

#preview-card{
  display: grid;
  grid-template-areas: "pname"
                       "pimg"
                       "pbutton";
  width: 300px;
  
  

}
.preview-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

#preview-name{
  grid-area: pname;
}
#preview-img{
  grid-area: pimg;
}

#preview-button{
  grid-area: pbutton;
}

#signup, #login, #new-meal{
  text-align: center;
}


