@font-face {
  font-family: titleFont;
  src: url("BebasNeue-Regular.ttf");
}

img {
  width: 200px;
  height: 200px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav {
  background-color: #d1d7e0;
  height: 40px;
  width: 90%;
  margin: 0px auto;
  border-style: solid;
  border-color: rgb(149, 217, 223);
  border-width: 7px;

  color: rgb(0, 109, 121);
  background: white;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
}

.nav ul {
  margin: 0 auto;
  text-align: center;
}

.nav li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  margin: 0 auto;
  color: rgb(0, 109, 121);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#nav-back {
  /* background-color: rgb(149, 217, 223); */
}

.nav li:hover {
  color: rgb(255, 36, 0);
}

h1 {
  text-align: center;
  font-family: titleFont;
  color: rgb(149, 217, 223);

  font-weight: lighter;
}

#show-name {
  font-size: 50px;
  color: rgb(0, 109, 121);
  font-weight: bold;
  font-style: italic;
  padding-bottom: 30px;
  padding-top: 30px;
}
#title {
  font-size: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(0, 109, 121);
  /* color: black; */
}
.container-title {
  font-size: 50px;
  color: rgb(0, 109, 121);
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: Arial, sans-serif;
}

#footer {
  text-align: center;
  background-color: rgb(149, 217, 223);
  padding: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: rgb(0, 109, 121);
  /* font-family: titleFont; */
  font-family: Arial, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}
html,
body {
  width: 100%;
}
h3 {
  margin-left: 15px;
  color: rgb(0, 109, 121);

  font-size: 30px;
  font-weight: lighter;
  font-family: titleFont;
  align-items: center;
}
h2 {
  color: rgb(255, 36, 0);
  font-size: 30px;
  font-weight: 100;
  font-family: titleFont;
  font-style: italic;
}

#show-container {
  display: grid;
  grid-template-areas:
    "simage scategory"
    "simage sorigin "
    "simage syoutube"
    "  smeasurements singredients"
    " sinstructions sinstructions";
  justify-content: center;
  justify-items: center;
  width: 100%;
}

#show-category {
  grid-area: scategory;
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  margin-left: 30px;
}

a:visited {
  color: rgb(0, 109, 121);
}
a:hover {
  color: rgb(149, 217, 223);
}
#show-origin {
  grid-area: sorigin;
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 0px;
}

#show-youtube {
  grid-area: syoutube;
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 30px;
}

#show-image {
  grid-area: simage;

  width: 100%;
  margin-right: 10%;
}

#s-image {
  width: 300px;
  height: 300px;
  margin-right: 10px;
}
#how-to {
  width: 80%;
}

#how-to2 {
  color: rgb(255, 36, 0);
}

#show-instructions {
  grid-area: sinstructions;
  width: 60%;
  height: fit-content;
  text-align: center;
  padding-top: 50px;
  border-radius: 10%;
  padding-bottom: 70px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: rgb(0, 109, 121);
}
#show-ingredients {
  grid-area: singredients;
  padding-top: 50px;
  width: 100%;
  margin-left: 30px;
}
.font-style {
  font-style: normal;
  font-weight: lighter;
  font-size: 35px;
}

#show-measurements {
  grid-area: smeasurements;

  margin-right: 10%;
  width: 100%;
  text-align: end;
  padding-top: 50px;
}

#preview-card {
  display: grid;
  grid-template-areas:
    "pname"
    "pimg"
    "pbutton";
  width: 350px;
  justify-content: center;
  margin-bottom: 70px;
}

.preview-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-bar {
  /* margin-right: 0px; */
  margin-left: 72%;
  margin-top: 20px;
}

#preview-name {
  grid-area: pname;
}

#preview-name-style:hover {
  color: rgb(255, 36, 0);
}

a {
  text-decoration: none;
}
#preview-img {
  grid-area: pimg;
  margin-bottom: 20px;
}

#preview-button {
  grid-area: pbutton;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signup,
#login,
#new-meal {
  text-align: center;
  font-weight: bold;
}

input {
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  border-color: rgb(0, 109, 121);
  border-width: 2px;
}
button {
  font-family: Arial, sans-serif;
  text-align: center;

  border-color: rgb(0, 109, 121);
  border-width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;

  font-size: 14px;
  color: rgb(0, 109, 121);
  font-style: italic;
}
button:hover {
  color: rgb(255, 36, 0);
}

#yt {
  width: 40%;
}
#l-btn,
#s-btn {
  height: 25px;
  color: rgb(0, 109, 121);
}

#l-btn {
  width: 60px;
}
#s-btn {
  width: 70px;
}
